@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

header {
  background-color: #191414;
  color: #fff;
  padding: 32px;
}

#title {
  text-align: center;
  font-size: 48px;
}

#profiles {
  width: 100vw;
}

.profile {
  margin: 16px;
  text-align: center;
  box-shadow: 2px 2px 5px 5px black;
  padding: 8px 0;
}

.profile:hover {
  box-shadow: 1px 1px 2px 2px #1db954;
  cursor: pointer;
}